*.o
*.zip

du1/dep
du1/steg-decode
du1/primes-i
du1/primes
du1/steg-encode
du1/debug
du1/backup
du1/newfile.ppm

du2/tail
du2/test.txt
du2/wordcount-cc
du2/ahoj.txt*
du2/wordcount
du2/wordcount-dynamic
lib*
du2/wc.txt
du2/hardcore.txt
*grind*
du2/empty.txt
